<a href="https://colab.research.google.com/github/jordanburdett/SVM/blob/master/SVM's.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn import svm
import numpy as np
from sklearn.model_selection import train_test_split

Get the data..

---
I uploaded everything to a github repo to make things easier in colab.

In [3]:
vowelData = pd.read_csv("https://raw.githubusercontent.com/jordanburdett/IrisflowerDetection/master/vowel.csv")
letterData = pd.read_csv("https://raw.githubusercontent.com/jordanburdett/IrisflowerDetection/master/letters.csv")

vowelData.head()

  Speaker   Sex     F0     F1     F2  ...     F6     F7     F8     F9  Class
0  Andrew  Male -3.639  0.418 -0.670  ... -0.388  0.529 -0.874 -0.814    hid
1  Andrew  Male -3.327  0.496 -0.694  ... -0.363  0.510 -0.621 -0.488    hId
2  Andrew  Male -2.120  0.894 -1.576  ... -0.579  0.676 -0.809 -0.049    hEd
3  Andrew  Male -2.287  1.809 -1.498  ... -0.567  0.235 -0.091 -0.795    hAd
4  Andrew  Male -2.598  1.938 -0.846  ...  0.394 -0.150  0.277 -0.396    hYd

[5 rows x 13 columns]

In [0]:
def makeCatCodes(data):
  for label,dtype in data.dtypes.items():
    if dtype == object:
        print(label)
        # set the dataframe to be a category
        data[label] = data[label].astype('category')

        # create new row using cat codes
        data["{}_cat".format(label)] = data[label].cat.codes
        
  return data

In [5]:
vowelData = makeCatCodes(vowelData)

vowelData.head()

Speaker
Sex
Class

  Speaker   Sex     F0     F1  ...  Class  Speaker_cat  Sex_cat  Class_cat
0  Andrew  Male -3.639  0.418  ...    hid            0        1          8
1  Andrew  Male -3.327  0.496  ...    hId            0        1          2
2  Andrew  Male -2.120  0.894  ...    hEd            0        1          1
3  Andrew  Male -2.287  1.809  ...    hAd            0        1          0
4  Andrew  Male -2.598  1.938  ...    hYd            0        1          5

[5 rows x 16 columns]

In [0]:
from sklearn.preprocessing import normalize
## Normalizing is a no go with this dataset! loss of over 60 % when data is normalize.... maybe I did it wrong.


features = vowelData[["F0",	"F1",	"F2",	"F3",	"F4",	"F5",	"F6",	"F7",	"F8",	"F9",	"Speaker_cat",	"Sex_cat"]].to_numpy()
targets = vowelData['Class_cat'].to_numpy()

In [0]:
train_data, test_data, train_targets, test_targets = train_test_split(features, targets, test_size=.3)

In [8]:
model = svm.NuSVC(0.06, kernel='rbf', gamma='auto', shrinking=True, probability=True, tol=.001, cache_size=10, class_weight="balanced", decision_function_shape="ovr", break_ties=False, random_state=1000)
model.fit(train_data, train_targets)

NuSVC(break_ties=False, cache_size=10, class_weight='balanced', coef0=0.0,
      decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
      max_iter=-1, nu=0.06, probability=True, random_state=1000, shrinking=True,
      tol=0.001, verbose=False)

In [9]:
model.score(test_data, test_targets)

0.9865319865319865

In [0]:
predictions = model.predict(test_data)

In [11]:
numCorrect = 0

for i in range(len(predictions)):
  if predictions[i] == test_targets[i]:
    numCorrect += 1

accuracy = (numCorrect / len(predictions)) * 100

print(accuracy)

98.65319865319864

In [12]:
letterData.head()

  letter  x_box  y_box  width  ...  x_edge  x_edge_y  y_edge  y_edge_x
0      T      2      8      3  ...       0         8       0         8
1      I      5     12      3  ...       2         8       4        10
2      D      4     11      6  ...       3         7       3         9
3      N      7     11      6  ...       6        10       2         8
4      G      2      1      3  ...       1         7       5        10

[5 rows x 17 columns]

In [0]:
features = letterData[["x_box",	"y_box",	"width",	"high",	"onpix",	"x_bar",	"y_bar",	"x2_bar",	"y2_bar",	"xy_bar",	"x2y_bar",	"xy2_bar",	"x_edge",	"x_edge_y",	"y_edge",	"y_edge_x"]].to_numpy()
targets = letterData['letter'].to_numpy()

In [0]:
train_data, test_data, train_targets, test_targets = train_test_split(features, targets, test_size=.3)

In [15]:
model = svm.NuSVC(0.06, kernel='rbf', gamma='auto', shrinking=True, probability=True, tol=.001, cache_size=1000, class_weight="balanced", decision_function_shape="ovr", break_ties=False)
model.fit(train_data, train_targets)

NuSVC(break_ties=False, cache_size=1000, class_weight='balanced', coef0=0.0,
      decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
      max_iter=-1, nu=0.06, probability=True, random_state=None, shrinking=True,
      tol=0.001, verbose=False)

In [16]:
model.score(test_data, test_targets)

0.9738333333333333

In [0]:
predictions = model.predict(test_data)

In [19]:
predictions

array(['S', 'A', 'D', ..., 'E', 'Q', 'O'], dtype=object)